<form [formGroup]="loginForm" style="max-width: 10cm; border: 2px solid rgb(255, 255, 255); padding: 20px; border-radius: 10px; margin-left: 35%;">
    <br><br><br>
    <p>Iniciar sesion como usuario</p>
    <div style="background: linear-gradient(to right, red, black); height: 5px; margin-bottom: 10px;"></div>
    <p class="text-danger">{{loginError}}</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
        <input formControlName="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">  
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
            <div *ngIf="email.errors?.['required']">
                El Correo electrónico es requerido.
            </div>
            <div *ngIf="email.errors?.['email']">
                El Correo electrónico debe tener un formato válido.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <div style="position: relative;">
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
            <span style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;" ></span>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
            <div *ngIf="password.errors?.['required']">
                La contraseña es requerida.
            </div>
        </div> <br>
    </div>
    <div style="background: linear-gradient(to right, red, black); height: 5px; margin-bottom: 10px;"></div>
   <button type="submit" (click)="login()" class="btn" style="color: white; background-color: black; border-radius: 20px; font-size: 13px;">Iniciar Sesión</button>
</form> 
<br><br>

