<mat-toolbar class="topbar">
  <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>

  <!-- Notification Dropdown -->
  <mat-card-title class="m-b-0" style="margin-right: 350px;" *ngIf="userLoginOn">Usuario</mat-card-title>

  <!-- Elemento "Inicio" -->
  <div class="p-x-12 m-t-12" *ngIf="userLoginOn">
    <a class="nav-link active" routerLink="/" color="primary">Inicio</a>
  </div>

  <!-- Elementos condicionales dependiendo del estado de login -->
  <ng-container *ngIf="userLoginOn && userRol == 1">
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" routerLink="/validar" routerLink="/inicio">Validar CFDIs</a>
    </div>
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" routerLink="/inicio">Realizar conciliaciones</a>
    </div>
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" routerLink="/inicio">Generar CFDIs</a>
    </div>
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" (click)="logoutUser()" routerLink="/">Cerrar Sesión</a>
    </div>
  </ng-container>

  <ng-container *ngIf="userLoginOn && userRol == 2">
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" routerLink="/validar" routerLink="/inicio">Registrar Usuario</a>
    </div>
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" routerLink="/inicio">Registrar Subsidiaria</a>
    </div>
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" routerLink="/inicio">Mis empleados</a>
    </div>
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" (click)="logoutUser()" routerLink="/">Cerrar Sesión</a>
    </div>
  </ng-container>

  <ng-container *ngIf="userLoginOn && userRol == 3">
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" routerLink="/validar" routerLink="/inicio">Registrar Empresa</a>
    </div>
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" routerLink="/inicio">Registrar Usuario</a>
    </div>
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" routerLink="/inicio">Mis estadisticas</a>
    </div>
    <div class="p-x-12 m-t-12">
      <a class="nav-link active" (click)="logoutUser()" routerLink="/">Cerrar Sesión</a>
    </div>
  </ng-container>
  

 

  <span class="flex-1-auto"></span>
</mat-toolbar>


  
