body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    
  }
  
  .card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    margin-left: 850px;
  }
  
  .card h2 {
    margin-bottom: 20px;
  }
  
  .card a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #dc3545; 
    color: #000; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .card a:hover {
    background-color: #c82333; 
    color: #000; 
  }
  